<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>game1_table_apple_one0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1848,594},{154,176}}</string>
			<key>offset</key>
			<string>{-6,-130}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,265},{154,176}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1692,638},{154,176}}</string>
			<key>offset</key>
			<string>{-6,-130}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,265},{154,176}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1518,638},{172,176}}</string>
			<key>offset</key>
			<string>{-6,-130}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,265},{172,176}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1518,462},{192,174}}</string>
			<key>offset</key>
			<string>{-4,-131}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,267},{192,174}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1752,422},{212,170}}</string>
			<key>offset</key>
			<string>{-3,-133}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,271},{212,170}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1518,292},{232,168}}</string>
			<key>offset</key>
			<string>{-2,-134}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,273},{232,168}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1188,610},{250,166}}</string>
			<key>offset</key>
			<string>{0,-136}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,276},{250,166}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{1026,634},{234,160}}</string>
			<key>offset</key>
			<string>{-3,-138}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,281},{234,160}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{1814,220},{200,190}}</string>
			<key>offset</key>
			<string>{-2,-124}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,252},{200,190}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{1816,2},{182,216}}</string>
			<key>offset</key>
			<string>{-1,-111}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,226},{182,216}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{1356,604},{160,242}}</string>
			<key>offset</key>
			<string>{-2,-97}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,199},{160,242}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{1534,140},{150,278}}</string>
			<key>offset</key>
			<string>{-8,-80}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,164},{150,278}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{1034,314},{138,306}}</string>
			<key>offset</key>
			<string>{-11,-64}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,134},{138,306}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,736},{124,332}}</string>
			<key>offset</key>
			<string>{-11,-54}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{52,111},{124,332}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,2},{106,348}}</string>
			<key>offset</key>
			<string>{-9,-46}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,95},{106,348}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,2},{90,366}}</string>
			<key>offset</key>
			<string>{-4,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,77},{90,366}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,440},{76,392}}</string>
			<key>offset</key>
			<string>{0,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,49},{76,392}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,442},{70,408}}</string>
			<key>offset</key>
			<string>{1,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{91,33},{70,408}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0019.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,446},{88,420}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,21},{88,420}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,436},{106,432}}</string>
			<key>offset</key>
			<string>{-4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,9},{106,432}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0021.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{112,442}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,0},{112,442}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,2},{128,436}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,5},{128,436}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0023.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,2},{178,438}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,3},{178,438}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0024.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,2},{230,432}}</string>
			<key>offset</key>
			<string>{6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,10},{230,432}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0025.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,446},{198,412}}</string>
			<key>offset</key>
			<string>{7,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,29},{198,412}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0026.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,436},{140,390}}</string>
			<key>offset</key>
			<string>{6,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,51},{140,390}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0027.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,370},{106,364}}</string>
			<key>offset</key>
			<string>{5,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,79},{106,364}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0028.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,352},{84,332}}</string>
			<key>offset</key>
			<string>{-1,-53}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82,110},{84,332}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0029.png</key>
		<dict>
			<key>frame</key>
			<string>{{1174,306},{80,302}}</string>
			<key>offset</key>
			<string>{0,-67}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,139},{80,302}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0030.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,2},{92,296}}</string>
			<key>offset</key>
			<string>{-6,-71}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,146},{92,296}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0031.png</key>
		<dict>
			<key>frame</key>
			<string>{{1256,306},{110,296}}</string>
			<key>offset</key>
			<string>{-9,-70}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,145},{110,296}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0032.png</key>
		<dict>
			<key>frame</key>
			<string>{{1410,2},{122,288}}</string>
			<key>offset</key>
			<string>{-23,-74}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,153},{122,288}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0033.png</key>
		<dict>
			<key>frame</key>
			<string>{{1534,2},{136,280}}</string>
			<key>offset</key>
			<string>{-27,-78}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,161},{136,280}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0034.png</key>
		<dict>
			<key>frame</key>
			<string>{{1368,300},{148,290}}</string>
			<key>offset</key>
			<string>{-24,-73}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,151},{148,290}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0035.png</key>
		<dict>
			<key>frame</key>
			<string>{{1166,2},{148,302}}</string>
			<key>offset</key>
			<string>{-29,-67}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,139},{148,302}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0036.png</key>
		<dict>
			<key>frame</key>
			<string>{{1022,2},{142,310}}</string>
			<key>offset</key>
			<string>{-27,-64}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,132},{142,310}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0037.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,318},{146,314}}</string>
			<key>offset</key>
			<string>{-32,-60}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,126},{146,314}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
		<key>game1_table_apple_one0038.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,2},{162,314}}</string>
			<key>offset</key>
			<string>{-41,-65}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,131},{162,314}}</string>
			<key>sourceSize</key>
			<string>{250,446}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>game1_table_apple_one.png</string>
		<key>size</key>
		<string>{2006,870}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e6ca6160babe0724b7930382efd10afe$</string>
		<key>textureFileName</key>
		<string>game1_table_apple_one.png</string>
	</dict>
</dict>
</plist>
